.home-bg {
	background: url(/Users/Lemon/desktop/resume/backgroundphoto.jpeg); 
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

body {
	background: #ffccff;
	font-family: Georgia;
	color: black;
	text-align: center;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	color: white;

}

ul li{
	color: black;
	list-style-type: none;
	text-align: left;
}
